/* *{
    background-color: #00796b;
    --background-color: #795548 !important;
}
ion-header{
    background-color: #795548 !important;
    --background-color: #795548 !important;
}
ion-title{
    background-color: #795548 !important;
    --background-color: #795548 !important;
}
ion-toolbar{
    background-color: #795548 !important;
    --background: #795548 !important;
} */